/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


/*===========================
    Colors used in this site:
    #efefef - background, logo text - off-white towards gray
    #515151 - text, not active links - medium to dark gray
    #f24405 - active links, logo, hr - dark orange
    #000    - black - used for exclamation points
===========================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: #efefef;
    background-image: url('../images/pw_pattern.png');
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 */

::-moz-selection { background: #ccc; color: #515151; text-shadow: none; }
::selection { background: #ccc; color: #515151; text-shadow: none; }

/* ========================================
   Links
   ======================================*/

a:link    {
  color:#515151;
  text-decoration:none;
}


a:hover, a:active {
  color: #f24405;
  -webkit-transition: color .3s ease-out; /* Saf3.2+, Chrome */
  -moz-transition: color .3s ease-out; /* Firefox 4+ */
  -ms-transition: color .3s ease-out; /* IE10+ */
  -o-transition: color .3s ease-out; /* Opera 10.5+ */
  transition: color .3s ease-out;
}

a:visited {
  color:#515151;
  text-decoration:none;
}

/*=========================================
    Main Styles
=========================================*/

div, img, li, img, p, section {
  /*border: 1px solid red;*/
}

body {
  font-family: arial;
  font-size: 15px;
  line-height: 25px;
  color: #515151;
}

.main {
  width: 80%;
  height: auto;
  margin: auto;
}

/*=========================================
    All header css 
=========================================*/

hr {
  height: .30em;
  width: 800px;
  margin: auto;
  background: #f24405;
  z-index: -1;
  border: none;
}

.header {
  width: 800px;
  height: 150px;
  margin: auto;
  margin-top: 5%;
  border: none;
}

/*=========================================
   CSS 3 logo, no image
=========================================*/

#logo {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10%;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  background-color: #f24405;
}

#logo p {
  color: #efefef;
  font-size: 5em;
  font-family: 'Monoton', cursive;
  padding-top: 40%;
  padding-right: 75%;
  text-align: center;
}

#logo a {
  text-decoration: none;
}

/*=========================================
   Navigation
=========================================*/

#navigation {
  width: 300px;
  height: 40px;
  margin: auto;
  margin-top: 3%;
}

#navigation a:hover, a:active {
  color: #f24405;
  -webkit-transition: color .3s ease-out; /* Saf3.2+, Chrome */
  -moz-transition: color .3s ease-out; /* Firefox 4+ */
  -ms-transition: color .3s ease-out; /* IE10+ */
  -o-transition: color .3s ease-out; /* Opera 10.5+ */
  transition: color .3s ease-out;
}

#left-nav ul{
  width: 250px;
  height: 50px;
  float: left;
}

#right-nav ul {
  width: 250px;
  height: 50px;
  float: right;
}

#left-nav li {
  width: 50px;
  display: inline;
  float: left;
  padding-right: 1.3em;
  font-size: 1.4em;
}

#right-nav li {
  width: 50px;
  display: inline;
  float: right;
  padding-left: 1.3em;
  font-size: 1.4em;
}

.exclamation {
  color: #000;
}

/*=========================================
    Main Content CSS 
=========================================*/

#content {
  width: 90%;
  min-height: 450px;
  margin: auto;
}

#content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

/*.thin-divider {
  border: 0;
  height: 0.1em;
  width: 100%;
  float: right;
  clear: both;
}*/

/*=========================================   
    Index page formatting 
=========================================*/

#communication {
  width: 625px;
  height: 430px;
  margin: auto;
  padding: 0px;
}

/*=========================================
    about page formatting 
=========================================*/

#about-content {
  width: 85%;
  /*height: auto;*/
  height: 815px;
  margin: auto;
  margin-bottom: 100px;
  padding: 15px;
  background-color: #fCfCfC;
  -moz-box-shadow: -4px 4px 1px #757575;
  -webkit-box-shadown: -4px 4px 1px #757575;
  box-shadow: -4px 4px 1px #757575;
}

.about-block {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/*.about-text {
  height: auto;
  padding: 10px;
}*/

.about-block h2 {
  font-size: 1.5em;
  color: #f24405;
  float: right;
  clear: both;
  padding-bottom: 5px;
}

.about-block header {
  margin: auto;
  padding-bottom: 5px;
  padding-top: 5px;
}

.about-block hr {
  background-color: #A8A8A8;
  width: 100%;
  height: 0.2em;
  float: left;
}

.about-block p {
  float: left;
  clear: both;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.about-block li {
  float: left;
  clear: both;
  padding-left: 5px;
}

/*=========================================
    blog index page formatting 
=========================================*/

#posts {
  width: 85%;
  height: auto;
  margin: auto;
}

.title {
  font-size: 1.2em;
  float: left;
  max-width: 70%;
  padding: 20px;
}

.post {
  background-color: #fCfCfC;
  box-shadow: -4px 4px 1px #757575;
  -moz-box-shadow: -4px 4px 1px #757575;
  -webkit-box-shadown: -4px 4px 1px #757575;
  width: 95%;
  height: auto;
  margin-bottom: 10px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.post p {
  padding: 15px;
  clear: left;
  text-align: justify;
}

.post strong {
  font-weight: bold;
}

.post a:hover {
  color: #f24405;
  -webkit-transition: color .3s ease-out; /* Saf3.2+, Chrome */
  -moz-transition: color .3s ease-out; /* Firefox 4+ */
  -ms-transition: color .3s ease-out; /* IE10+ */
  -o-transition: color .3s ease-out; /* Opera 10.5+ */
  transition: color .3s ease-out;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, #post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*.post iframe {
  width: 560px;
  margin: auto;
}*/

.post img {
  padding: 15px;
}

.img_left {
  float: left;
}

.img_right {
  float: right;
}

.embedded_form {
  width: 760px;
  margin-left: auto;
  margin-right: auto;
}
.date {
  background-color: #a6a6a6;
  width: 110px;
  height: 25px;
  display: inline;
  float: right;
  margin-top: 10px;
  padding: 5px;
  z-index: 1;
}

.date p {
  /*color: black;*/
  color: #efefef;
  font-size: .75em;
  display: inline;
}

.title-divider {
  width: 94%;
  height: 2px;
  margin: 3px;
  margin-left: 20px;
  float: left;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*float: left;*/
}

#paging {
  float: left;
  clear: both;
  width: 550px;
  height: 100px;
  padding: 5px;
}
#paging a {
  width: 175px;
  float: left;
}

.page-numbers {
  width: 175px;
  float: left;
}

#post {
  background-color: #fCfCfC;
  box-shadow: -4px 4px 1px #757575;
  -moz-box-shadow: -4px 4px 1px #757575;
  -webkit-box-shadown: -4px 4px 1px #757575;
  width: 750px;
  margin: auto;
  text-align: justify;
  padding: 15px;
  margin-bottom: 50px;
}

#post p {
  clear: left;
  padding: 10px;
}

#post-navigation{
  width: 325px;
  height: 30px;
  margin: auto;
  margin-bottom: 100px;
}

#post-navigation a {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

/*=========================================
    Comments 
=========================================*/
#comments {
  width: 750px;
  margin: auto;
  clear: both;
  margin-bottom: 100px;
}

#comment_form {
  width: 550px;
  margin: auto;
}
#comment_form label {
  padding: 5px;
}

#comment_form input {
  margin: 5px;
  padding: 5px;
}

.comment {
  width: 600px;
  margin: auto;
  background-color: #fCfCfC;
  box-shadow: -4px 4px 1px #757575;
  -moz-box-shadow: -4px 4px 1px #757575;
  -webkit-box-shadown: -4px 4px 1px #757575;
  padding: 20px;
  margin-top: 50px;
}

.comment p {
  padding-left: 20px;
  padding-right: 20px;
}

/*=========================================
    Tech
=========================================*/

#tech-content {
  width: 90%;
  height: auto;
  margin: auto;
  margin-bottom: 100px;
  padding: 15px;
  background-color: #fCfCfC;
  -moz-box-shadow: -4px 4px 1px #757575;
  -webkit-box-shadown: -4px 4px 1px #757575;
  box-shadow: -4px 4px 1px #757575;
}

/*=========================================
    Music
=========================================*/

#music-content {
  width: 90%;
  height: auto;
  margin: auto;
  margin-bottom: 100px;
  padding: 15px;
  background-color: #fCfCfC;
  -moz-box-shadow: -4px 4px 1px #757575;
  -webkit-box-shadown: -4px 4px 1px #757575;
  box-shadow: -4px 4px 1px #757575;
}

/*=========================================
    Footer
=========================================*/

/* TODO: make footer css transparent gradient */

.footer {
  background-color: #efefef;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 60px;
  /*top: 650px;*/
}

.contact {
  width: 340px;
  height: 50px;
  margin: auto;
}
.contact img {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}