---
layout: default
pagination:
  enabled: true
---

<div class="header-bar">
  <h1>MC</h1>
  <h2>Data. Devops. Farming.</h2>
  <br/>
  <hr>
  <br/>
</div>


<ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
        <p>{{ post.description }}</p>
        <br/>
        <hr/>
      </li>
    {% endfor %}
</ul>

<div id="paginator-pages">
  {% if paginator.total_pages > 1 %}
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"> &lArr; Newer</a>
      <!-- <a href="/blog/">&lArr; Previous Page </a> -->
    {% endif %}
      <!-- <a href="/blog/page{{paginator.previous_page }}"><= Previous Page</a> -->
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older &rArr;</a>
    {% endif %}
  {% endif %}
</div>
