---
layout: default
title: Electronic Ephemera
---

<div id="content">
	<div id="posts">
		{% for post in paginator.posts %}
		<div class="post">
			<a href="{{ post.url }}" class="title">{{ post.title }}</a>
			<div class="date">
				<p>{{ post.date | date: "%b %d, %Y"}}</p>
			</div>
			<hr class="title-divider" />	
			<p class="snippet">{{ post.content | strip_html | truncatewords: 200 }}</p>
		</div>
		{% endfor %}
	<div id="paging">
	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
			<a href="/blog/">&lArr; Previous Page</a>
		{% else %}
			<a href="/blog/page{{ paginator.previous_page }}"><= Previous Page</a>
		{% endif %}
	{% endif %}

	<p class="page-numbers">Page {{ paginator.page }} of {{ paginator.total_pages }}<p>

	{% if paginator.next_page %}
		<a href="/blog/page{{ paginator.next_page }}">Next Page =></a>
	{% else %}
		<a href="/blog/">Blog Home</a>
	{% endif %}
	</div>
	</div>
</div>