---
layout: blog
title: Electronic Ephemera
---

<!--
TODO: clip content of each post so that it shows a line or two
Get pagination working properly
 -->
<div id="content">
<div class="posts">
	<br>
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a><p class="author"><span class="date">{{ post.date }}</span></p></li>
      <li>{{ post.content }}</li>
    {% endfor %}
</div>
</div>
<!-- <div id="paging">
	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
			<a href="/">&lArr; Previous Page</a>
		{% else %}
			<a href="/page">&lArr; Previous Page</a>
		{% endif %}
	{% endif %}

	Page {{ paginator.page }} of {{ paginator.total_pages }}

	{%  if paginator.next_page %}
		<a href="/page">Next Page &rArr;</a>
	{% endif %}
</div> -->