---
layout: default
---

<!--
TODO:
- add intelligent back link to blog - links you back to the page you were on. Might do this by looping through the paginator var, and checking the page title, and linking back to that page.
 -->
<a href="/blog/">back</a>
<div id="post">
<h1 class="title">{{ page.title }}</h1>
<hr class="title-divider" />
<p>{{ content }}</p>
</div>
<!-- 
	TODO: 
	- Put for loop to go through comments and stagger
	each one left or right.
	- Make some javascript write comments to a logfile
	- Use Rsyslog to scan that logfile and output comments to mongo or redis, send email on comment
	- Write an approval github hook or script to add comments to the site
	Data structure:
	- Post ID
	- Alias/username
	- Email
	- Date
	- Comment
 -->
<div id="comments">
	<form id="comment_form">
		<ul>
		<li><textarea  rows="10" cols="75" name="write_comment" ></textarea></li>
		<li>
			<label class="comment_form_label">Name or Handle:</label>
			<label class="comment_form_label">Email:</label><input type="text" size="20" name="alias" />
		<input type="text" size="20" name="email" /><input type="submit" /></li>
	</form>
	<!-- for comment in comments... -->
	<div class="comment">
		<p>This is a comment</p>
		<p class="author">Author: Date:</p>
	</div>
	<!-- endfor... -->
</div>
