---
layout: default
---

<!--
TODO:
- add intelligent back link to blog - links you back to the page you were on. Might do this by looping through the paginator var, and checking the page title, and linking back to that page.
 -->
<div class="post">
<h1 class="title">{{ page.title }}</h1>
<div class="date">
	<p>{{ post.date | date: "%b %d, %Y"}}</p>
</div>
<hr class="title-divider" />
<p>{{ content }}</p>
</div>

<!-- 
	TODO: 
	- Put for loop to go through comments and stagger
	each one left or right.
	- Make some javascript write comments to a logfile
	- Use Rsyslog to scan that logfile and output comments to mongo or redis, send email on comment
	- Write an approval github hook or script to add comments to the site
	Data structure:
	- Post ID
	- Alias/username
	- Email
	- Date
	- Comment
 -->

<div id="back_next_links">
<a href="/blog/" id="back_link"><= back to blog</a>
{% if page.next %}
	<p>{{ page.next.title }}</p>
{% endif %}
<a href="/blog/#" id="next_link">next post =></a>
</div>
<div id="comments">
	<div id="comment_form">
		<form method='POST' action="#" id='comment'>
			<input type="hidden" name="post_id" value="{{ page.id }}">
			<textarea rows="10" cols="75" name="write_comment" id="comment_box" placeholder="All comments held for moderation." required></textarea>
			<br />
			<label>Name:</label>
			<input type="text" size="20" name="name" placeholder="Required" required />
			<label>Email:</label>
			<input type="email" size="20" name="email" placeholder="Required, not posted."/><input type="submit" />
		</form>
	</div>
	<!-- for comment in comments... -->
	<div class="comment">
		<p>This is a comment</p>
		<p class="author">Author: Date:</p>
	</div>
	<!-- endfor... -->
</div>
